@use '../abstracts' as *;
@use './typo' as *;
@use '../components' as *;
*,
::after,
::before {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: $maxWidth;
  @include grid(center);
  gap: 0.75rem;
}
